.root {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3);
  width: $dekstop-width;
  margin: 0 auto;
  padding: 70px;
  gap: 30px;
  background: $white;
  border-radius: 50px;

  @include dekstop {
    width: $tablet-width;
    padding: 60px;
    gap: 30px 20px;
  }

  @include tablet {
    gap: 30px;
    width: $mobile-width;
    padding: 20px 20px 40px;
    border-radius: 30px;
  }
}

.dataField {
  font-size: 20px;
  line-height: 142%;
  color: $dark;

  @include tablet {
    grid-column: auto / span 2;
    font-size: 16px;
  }
}

.entry {
  width: 100%;
  padding: 20px;
  margin-top: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: $dark;
  background: $very-light-beige;
  border: 1px solid $light-grey;
  border-radius: 10px;
  transition:
    border 300ms ease-in,
    background-color 300ms ease-in;

  &::placeholder {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    color: $grey;
  }

  @include event-selectors {
    &:hover {
      background: $light-grey;
      border: 1px solid $light-grey;
      border-radius: 10px;
    }

    &:focus {
      background: $light-grey;
      border: 1px solid $grey;
      border-radius: 10px;
    }
  }

  @include tablet {
    padding: 10px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
    }
  }
}

.comment {
  grid-column: auto / span 2;
  font-size: 20px;
  line-height: 142%;
  color: $dark;

  @include tablet {
    font-size: 16px;
  }

  &__field {
    width: 100%;
    height: 152px;
    padding: 1%;
    margin-top: 8px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    resize: none;
    background: $very-light-beige;
    border: 1px solid $light-grey;
    border-radius: 10px;
    transition:
      border 300ms ease-in,
      background-color 300ms ease-in;

    @include event-selectors {
      &:hover {
        background: $light-grey;
        border: 1px solid $light-grey;
        border-radius: 10px;
      }

      &:focus {
        background: $light-grey;
        border: 1px solid $grey;
        border-radius: 10px;
      }
    }

    @include tablet {
      height: 119px;
    }
  }
}

.radioGroup {
  grid-column: auto / span 2;
  font-size: 20px;
  line-height: 142%;

  @include tablet {
    font-size: 16px;
  }

  &__buttons {
    display: flex;
    margin-top: 8px;
  }

  &__block {
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      margin-left: 31px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      box-sizing: border-box;
      display: inline-block;
      width: 26px;
      height: 26px;
      margin-right: 11px;
      cursor: pointer;
      content: '';
      border: 2px solid $dark;
      border-radius: 50%;
    }

    @include tablet {
      &::before {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        content: '';
      }
    }
  }

  &__customButton {
    display: none;
    margin-left: 11px;

    &:checked + .radioGroup__button::before {
      background: url('/images/svg/RadioButton.svg') no-repeat center center;
    }

    @include tablet {
      &:checked + .radioGroup__button::before {
        background: url('/images/svg/RadioButtonMobile.svg') no-repeat center
          center;
      }
    }
  }
}

.agreements {
  grid-column: auto / span 2;
  font-size: 20px;

  @include tablet {
    display: flex;
  }

  &__button {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 142%;
    color: $grey;
    letter-spacing: -0.01em;

    &::before {
      box-sizing: border-box;
      display: inline-block;
      width: 26px;
      height: 26px;
      margin-right: 19px;
      cursor: pointer;
      content: '';
      border: 2px solid $dark;
      border-radius: 5px;
    }

    @include dekstop {
      &::before {
        margin-right: 11px;
        content: '';
      }
    }

    @include tablet {
      font-size: 16px;
      letter-spacing: 0;

      &::before {
        min-width: 20px;
        height: 20px;
        margin: 0 10px auto 0;
        content: '';
        border-radius: 4px;
      }
    }
  }

  &__customButton {
    display: none;

    &:checked + .agreements__button::before {
      background: url('/images/svg/Checkbox.svg') no-repeat center center;
    }

    @include tablet {
      &:checked + .agreements__button::before {
        background: url('/images/svg/CheckboxMobile.svg') no-repeat center
          center;
      }
    }
  }

  &__contractReference {
    padding: 0.25em;
    color: $dark;
    transition: color 300ms ease-in;

    @include event-selectors {
      &:hover {
        color: black;
        text-decoration: underline;
      }

      &:active {
        color: $green;
        text-decoration-line: underline;
      }
    }
  }
}

.processing {
  display: flex;
  grid-column: auto / span 2;
  gap: 30px;

  @include tablet {
    gap: 10px;
  }

  &__button {
    width: 235px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;

    @include tablet {
      width: 133px;
      padding-bottom: 12px;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }

  &__button_search {
    color: $white;
    background: $green;
    transition: background-color 300ms ease-in;

    @include event-selectors {
      &:hover {
        color: $white;
        background: $dark-sea-green;
      }

      &:active {
        background: $grey-green;
      }
    }
  }

  &__button_reset {
    color: $green;
    background: $light-green;
    transition: background-color 300ms ease-in;

    @include event-selectors {
      &:hover {
        background: $very-light-grey;
      }

      &:active {
        background: $pastel-grey;
      }
    }
  }
}
