$very-light-beige: #f9f7f4;
$dark: #1b1f2b;
$black: #000;
$white: #fff;
$light-grey: #f4f0e9;
$grey: #a6a6a6;
$green: #286562;
$light-green: #e0f0e5;
$orange: #efa501;
$dark-sea-green: #3b7e7b;
$grey-green: #627f7e;
$very-light-grey: #f1f3f2;
$pastel-grey: #d9dfdb;
$pale-yellow: #f8e6be;
