.menu {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  padding: 0 19.58%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  transform: translate(-50%);

  @include dekstop {
    padding: 0 5.6%;
  }

  @include tablet {
    padding: 0 5.6%;
    font-size: 16px;
  }
}

.yourTur {
  &__img {
    fill: #fff;

    @include tablet {
      width: 133px;
    }
  }
}

.siteSections {
  @include tablet {
    display: none;
  }

  &__listSiteSections {
    display: flex;
    justify-content: space-between;
    width: 468px;

    @include dekstop {
      width: 408px;
    }
  }

  &__sectionLink {
    position: relative;
    color: #fff;

    @include event-selectors {
      &::before {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        content: '';
        border-bottom: 1px solid #fff;
        transition: transform 300ms ease-in;
        transform: scale(0);
      }

      &:hover::before {
        transform: scale(1);
      }
    }
  }
}

.phoneNumber {
  &__referenceNumber {
    position: relative;
    color: #fff;
  }
}
