.email {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 771px;
  margin-top: 135px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 135px;
  word-wrap: break-word;

  @include tablet {
    width: 75.29%;
    padding-bottom: 75px;
  }

  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
  }

  &__photo {
    width: 370px;
    height: auto;
    border-radius: 50px;

    @include tablet {
      width: 48.12%;
      min-width: 220px;
      border-radius: 20px;
    }

    @include mobile {
      width: 130px;
      min-width: auto;
      border-radius: 20px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 371px;

    @include tablet {
      width: 48.12%;
    }

    @include mobile {
      width: 88.33%;
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }

  &__subtitleSection {
    @include subtitle-style;

    @include tablet {
      font-size: 23px;
      line-height: 112%;
      letter-spacing: 0.02em;
    }

    @include mobile {
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.04em;
    }
  }

  &__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    color: #a6a6a6;

    @include mobile {
      width: 95%;
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
      font-size: 16px;
      line-height: 142%;
    }
  }

  &__link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    color: #1b1f2b;
    transition: color 300ms ease-in;

    @include event-selectors {
      &:hover {
        color: black;
        text-decoration: underline;
      }

      &:active {
        color: #286562;
        text-decoration-line: underline;
      }
    }

    @include mobile {
      font-size: 16px;
      line-height: 142%;
    }
  }
}
