.root {
  @include sectionBlock;
}

.sectionName {
  @include sectionName;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: repeat(20, 1fr);
  gap: 30px 30px;
  padding: 0 1.56%;
  margin: 100px auto 0;

  @include dekstop {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 20px;
    padding: 0 1.95%;
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 18px 10px;
    padding: 0 5.83%;
    margin-top: 50px;
  }

  @include mobile {
    grid-template-rows: repeat(3, 110px);
  }
}
.row_first,
.row_third {
  grid-column: auto / span 5;

  @include dekstop {
    grid-column: auto / span 4;
  }

  @include tablet {
    grid-column: auto / span 3;
  }
}

.row_second {
  grid-column: auto / span 4;

  @include dekstop {
    grid-column: auto / span 3;
  }

  @include tablet {
    grid-column: auto / span 2;
  }
}

.row_first {
  @include mobile {
    width: 97.5%;
  }
}

.row:nth-child(2),
.row:nth-child(7),
.row:nth-child(13) {
  @include dekstop {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.row:nth-child(3),
.row:nth-child(6),
.row:nth-child(12) {
  @include tablet {
    display: none;
  }
}

.row:nth-child(4) {
  @include mobile {
    justify-self: end;
  }
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50px;

  @include tablet {
    border-radius: 20px;
  }
}

.row_first:not(:nth-child(3)) .photo {
  @include dekstop {
    object-fit: fill;
  }

  @include tablet {
    object-fit: fill;
  }
}
