.block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 210px 0 115px;
  background:
    linear-gradient(180deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 0%) 39.9%),
    linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
    url('~public/images/headerPhoto.png') no-repeat center center;
  background-size: cover;

  @include tablet {
    gap: 40px;
    padding: 140px 0 55px;
  }
}

.title {
  width: 768px;
  margin: 0 auto;
  color: $white;

  @include tablet {
    width: 100%;
    max-width: 550px;
    padding: 0 40px;
  }

  &__text {
    font-size: 96px;
    font-weight: 700;
    line-height: 109%;
    text-align: center;
    letter-spacing: 0.02em;

    @include tablet {
      font-size: 34px;
      line-height: 112%;
      letter-spacing: 0.02em;
    }
  }
}

.introduction {
  width: 562px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 142%;
  color: $white;
  text-align: center;

  @include dekstop {
    width: 405px;
  }

  @include tablet {
    width: 310px;
    font-size: 16px;
  }
}

.searchButton {
  margin: 0 auto;
  padding: 8px 20px;
  font-size: 17px;
  text-align: center;
  background-color: $white;
  border: none;
  border-radius: 10px;
  transition:
    color 300ms ease-in,
    background-color 300ms ease-in;

  @include event_selectors {
    &:hover {
      color: $white;
      background-color: $orange;
      border-radius: 10px;
    }

    &:active {
      color: $dark;
      background-color: $pale-yellow;
      border-radius: 10px;
    }
  }

  @include tablet {
    font-size: 16px;
  }
}
