.root {
  background: $light-grey;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60.83%;
  height: 88px;
  margin: auto;

  @include dekstop {
    width: 918px;
  }

  @include tablet {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 95px;
  }
}
.description {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  color: $grey;

  @include tablet {
    font-size: 16px;
  }
}

.listSocialNetworks {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  @include tablet {
    justify-content: center;
    gap: 14px;
    width: 95%;
  }
}

.socialNetworkItem {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  list-style: none;

  @include tablet {
    gap: 2px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.socialNetworkIcon {
  width: 26px;
  height: 26px;
}

.socialNetworkLink {
  position: relative;
  display: inline-block;
  color: $dark;

  @include event-selectors {
    &::before {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      content: '';
      border-bottom: 1px solid $black;
      transition: transform 300ms ease-in;
      transform: scale(0);
    }

    &:hover::before {
      transform: scale(1);
    }
  }

  @include tablet {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 142%;
  }
}
